<div class="container mat-elevation-z8">
    <div fxLayout="row" fxLayoutAlign="space-around center">
    
        <mat-form-field>
            <mat-label>Search by organization</mat-label>
            <mat-select>
                <mat-option *ngFor="let org of organizations$ | async" [value]="org.name"
                    (click)="searchOrganizations(org.name)">{{org.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
    </div>

    <mat-table #table [dataSource]="allEvents$">

        <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef> Event </th>
            <td mat-cell *matCellDef="let event"> {{event.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="org-name">
            <th mat-header-cell *matHeaderCellDef> Organization </th>
            <td mat-cell *matCellDef="let event"> {{event.orgName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let event"> {{event.location}} </td>
        </ng-container>
        
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let event"> {{event.description}} </td>
        </ng-container>
        
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let event"> {{event.date}} </td>
        </ng-container>
        
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let event"> {{event.time}} </td>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>