.mat-column-event {
    width: 15%;
    text-align: left;
}

.mat-column-description {
    width: 45%;
    text-align: left;
}

.mat-column-org-name {
    width: 13%;
    text-align: left;
}
.mat-column-location,
.mat-column-date,
.mat-column-time {
    width: 9%;
    text-align: left;
}

mat-form-field {
    width: 400px;
}