<table>
    <thead>
        <th>Event</th>
        <th>Organization</th>
        <th>Location</th>
        <th>Description</th>
        <th>Date</th>
        <th>Time</th>
    </thead>
    <tbody>
        <tr *ngFor="let event of allEvents$ | async">
            <td>{{ event.name }}</td>
            <td>{{ event.orgName }}</td>
            <td>{{ event.location }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.time }}</td>
        </tr>
    </tbody>
</table>