table {
    width: 100%;
    /* border-spacing: 20px */
}
td{
    padding: 15px;
    font-size: 15px;
    text-align: left;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}
th{
    font-size: 25px;
    text-align: left;
    padding: 15px;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}