<table mat-table [dataSource]="allOrganizations$">
    <ng-container matColumnDef="org-name">
        <th mat-header-cell *matHeaderCellDef>Organization Name</th>
        <td mat-cell *matCellDef="let org">{{org.name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let org">{{org.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>