<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <mat-card>
      <mat-card-content>
          <mat-form-field appearance="fill">
              <mat-label>Event Name</mat-label>
              <input matInput placeholder="Text" formControlName="name" name="name" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Organization Name</mat-label>
              <!-- <input matInput placeholder="Text" formControlName="orgName" name="orgName" required> -->
              <mat-select formControlName="orgName" name="orgName" required>
                <mat-option *ngFor="let org of organizations$ | async" [value]="org.name">
                 {{org.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Text" formControlName="location" name="location" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput placeholder="Text" formControlName="description" name="description" required>
          </mat-form-field>
          <!-- <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput placeholder="MM/DD/YYYY" formControlName="date" name="date" required>
          </mat-form-field> -->
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" name="date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>          
          <mat-form-field appearance="fill">
              <mat-label>Time</mat-label>
              <input matInput placeholder="HH:mmXM" formControlName="time" name="time" required>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="eventForm.invalid">SUBMIT</button>
      </mat-card-actions>
  </mat-card>
</form>
