<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <mat-card>
      <mat-card-content>
          <mat-form-field appearance="fill">
              <mat-label>Event Name</mat-label>
              <input matInput placeholder="Networking" formControlName="name" name="name" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Organization Name</mat-label>
              <input matInput placeholder="CSXL" formControlName="orgName" name="orgName" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Location</mat-label>
              <input matInput placeholder="fb011" formControlName="location" name="location" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput placeholder="This is a networking event." formControlName="description" name="description" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput placeholder="04/10/2023" formControlName="date" name="date" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Time</mat-label>
              <input matInput placeholder="06:00PM" formControlName="time" name="time" required>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="eventForm.invalid">SUBMIT</button>
      </mat-card-actions>
  </mat-card>
</form>
